apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    app: springrestpoc
    deploymentconfig: springrestpoc
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      labels:
        app: springrestpoc
        deploymentconfig: springrestpoc
    spec:
      containers:
        - imagePullPolicy: Always
          name: springrestpoc
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            limits:
              memory: 1000Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/keystore
              name: volume-keystore
              readOnly: true
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  key: SPRINGRESTPOC_DB_URL
                  name: springrestpoc-secret
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  key: SPRINGRESTPOC_DB_USER
                  name: springrestpoc-secret
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: SPRINGRESTPOC_DB_PASSWORD
                  name: springrestpoc-secret
            - name: siteHostName
              value: "{{SPRINGRESTPOC_SITE_HOST_NAME}}"
            - name: sitePort
              value: "{{SPRINGRESTPOC_SITE_PORT}}"
            - name: siteBaseUrl
              value: "{{SPRINGRESTPOC_SITE_BASE_URL}}"
            - name: staticBaseUrl
              value: "{{SPRINGRESTPOC_STATIC_BASE_URL}}"
            - name: siteZone
              value: "{{SPRINGRESTPOC_SITE_ZONE}}"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: volume-keystore
          secret:
            defaultMode: 420
            secretName: springrestpoc-keystore
  test: false
  triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
          - springrestpoc
        from:
          kind: ImageStreamTag
          name: 'springrestpoc:latest'
          namespace: {{SPRINGRESTPOC_NAMESPACE}}
      type: ImageChange
    - type: ConfigChange

