apiVersion: v1
stringData:
  jdbcUrl: "jdbc:postgresql://postgres.{{POSTGRES_NAMESPACE}}.svc:5432/{{POSTGRES_DB_NAME}}"
  jdbcUsername: "{{POSTGRES_DB_USER}}"
  jdbcPassword: "{{POSTGRES_DB_PASSWORD}}"
  jdbcDatabase: "{{POSTGRES_DB_NAME}}"
  jdbcHost: "{{POSTGRES_HOST_NAME}}"
  jdbcPort: "{{POSTGRES_PORT}}"
kind: Secret
type: Opaque

