apiVersion: v1
stringData:
  SPRINGRESTPOC_DB_URL: "jdbc:postgresql://postgres.{{POSTGRES_NAMESPACE}}.svc:5432/{{SPRINGRESTPOC_DB_NAME}}"
  SPRINGRESTPOC_DB_USER: "{{SPRINGRESTPOC_DB_USER}}"
  SPRINGRESTPOC_DB_PASSWORD: "{{SPRINGRESTPOC_DB_PASSWORD}}"
  SPRINGRESTPOC_DB_NAME: "{{SPRINGRESTPOC_DB_NAME}}"
  jdbcHost: "{{POSTGRES_HOST_NAME}}"
  jdbcPort: "{{POSTGRES_PORT}}"
kind: Secret
type: Opaque

